a.a1:link {color: #07074C;}
a.a1:visited {color: #07074C;}
a.a1:hover {color: #6A1B9A;}
a.a1 {text-decoration: none;}

a.a2:link {color: #07074C;}
a.a2:visited {color: #07074C;}
a.a2:hover {color: #6A1B9A;}
a.a2 {text-decoration: none;}

a.a3:link {color: #07074C;}
a.a3:visited {color: #07074C;}
a.a3:hover {color: #6A1B9A;}
a.a3 {text-decoration: none;}

a.aarrooww:link {color: white;}
a.aarrooww:visited {color: white;}
a.aarrooww:hover {color: yellow;}
a.aarrooww {text-decoration: none;}

a.optionsu:link {color: white;}
a.optionsu:visited {color: white;}
a.optionsu:hover {color: yellow;}
a.optionsu {text-decoration: none;}

a.modal-btn-cerrar:link {color: #07074C;}
a.modal-btn-cerrar:visited {color: #07074C;}
a.modal-btn-cerrar:hover {color: #315D99;}
a.modal-btn-cerrar {text-decoration: none;}

a.modal-btn-closee:link {color: white;}
a.modal-btn-closee:visited {color: white;}
a.modal-btn-closee:hover {color: #FCE0DF;}
a.modal-btn-closee {text-decoration: none;}

body{
  background-color: #07074C !important;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#bsaludo{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  letter-spacing: 0.07em;
  color: #FCF0F5 ;
  font-weight: bold;
  font-size: 2.75em;
}

.btndelete{
  color: #FF9EA4;
}

.btn-entrur{
  background-color: #FFB0D1 ;
  border-radius: 3em;
  color: #07074C;
  font-weight: bold;
  font-size: 1.50em;
  letter-spacing: 0.07em;
  margin-top: 1.5em;
  height: 3em;
  width: 35%;
}

/*.btn-enviar-form-login{
  background-color: white;
  border-radius: 3em;
  color: #22293D;
  display: inline-block;
  height: 2.50em;
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
}*/

.btn-enviar-form{
  background-color: white;
  border-radius: 3em;
  color: #07074C;
  display: inline-block;
  height: 2.75em;
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1.40em;
}

.btn-left-pro {
  background-color: #07074C;
  color: white;
  display: inline-block;
  height: 2.5em;
  width: 5%;
  font-size: 2.15em;
  font-weight: bold;
  margin-top: 1em;
}

.btn-primary{
  background-color: #CFD7FF;
  color: #07074C;
  font-size: 1.25em;
  font-weight: bold;
  height: 3em; 
  letter-spacing: 0.10em;
  margin-bottom: 1em !important;
  margin-right: 1em;
}

.btn-right-pro {
  background-color: #07074C;
  color: white;
  display: inline-block;
  height: 2.15em;
  width: 5%;
  font-weight: bold;
  font-size: 2.15em;
  margin-top: 1em;
}

.btn-secondary{
  background-color: #757575;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.10em;
}

.btn-secondaryy{
  background-color: #3538ee;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.10em;
}

.container{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3em;
}

.col{
  background-color: #F8BBD0;
  border-radius: 0.2em;
  color: #07074C;
  height: 4em;
  width: 50%;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.3em;
}

.colin{
  background-color: #F8BBD0;
  border-radius: 3em;
  color: #07074C;
  height: 4em;
  width: 50%;
  font-size: 1.25em;
  font-weight: bold;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.editprofile {
  background-color: #B2EBF2;
  color: #07074C;
  display: inline-block;
  height: 4em;
  width: 25%;
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.9em;
}

.first {
  background-color: #F8BBD0;
  color: #07074C;
  display: inline-block;
  height: 3em;
  width: 80%;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.9em;
}

.farm-cantral {
  color: #07074C;
  font-size: 1.50em;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  height: 3em;
  width: 60%;
}

.texbox-pro-cool {
  background-color: #07074C;
  border-color: #424967;
  color: white;
  outline-color: #424967;
  font-size: 1.50em;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  height: 3em;
  width: 60%;
}

.texbox-pro-cool:focus{
  background-color: #07074C;
  border-color: white;
  color: white;
  outline-color: white;
}

.textbox-pro-cool:after{
background-color: #07074C;
  border-color: white;
  color: white;
  outline-color: white;  
}

.form-control{
  background-color: #07074C;
  color: white;
  font-size: 1.50em;
  font-weight: bold;
  letter-spacing: 0.10em;
  margin-bottom: 1.25em;
}

#greeting{
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.knowteam {
  background-color: #DCEDC8;
  color: #07074C;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  height: 4em;
  width: 25%;
  margin: 0.9em;
}

.lbl1 {
  font-size: 1.50em;
  letter-spacing: 0.07em;
  margin-bottom: 1em;
}

.lblformuser{
  float: left;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.10em;
}

.middle-pro {
  background-color: #07074C;
  color: white;
  display: inline-block;
  font-size: 2.15em;
  font-weight: bold;
  height: 2.15em;
  width: 64%;
  letter-spacing: 0.07em;
  margin-top: 1em;
  margin-top: 1em;
}

.modal-content{
  background-color: #2D3750;
  border-color: #2D3750;
  color: white;
  font-weight: bold;
  letter-spacing: 0.10em;
  text-align: center;
}

.modal-btn-cerrar{
  background-color: #CFD7FF;
  border-radius: 3em;
  color: #07074C;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.10em;
  padding-top: 0.25em;
  text-align: center;
  height: 2em;
  width: 25%;
}

.modal-btn-closee{
  background-color: #2D3750;
  border-color: #2D3750;
  color: white;
}

.modal-header, .modal-body, .modal-footer{
  border-color: #2D3750;
}

.ppro{
  padding-top: 1em;
}

.ppro2{
  margin-top: 4em;
  margin-bottom: 4em;
}

.second {
  background-color: #FFF176;
  color: #07074C;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  height: 3em;
  width: 80%;
  margin: 0.9em;
}

.seeprofile {
  background-color: #FFCCBC;
  color: #07074C;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  height: 4em;
  width: 25%;
  margin: 0.9em;
}

.third {
  background-color: #81D4FA;
  color: #07074C;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  height: 3em;
  width: 80%;
  margin: 0.9em;
}

.topnav {
  background-color: #07074C;
  font-weight: bold;
  overflow: hidden;
}

.table-bordered{
  color: white;
  font-size: 1.35em;
  margin-bottom: 3em;
  border-color: #424967;
  letter-spacing: 0.05em;
}

.table-ticket-nuevo{
  background-color: #FFCCBC;
  color: #07074C;
  font-weight: bold;
}

.table-ticket-pendiente{
  background-color: #FFF176;
  color: #07074C;
}

.table-ticket-terminado{
  background-color: #81D4FA;
  color: #07074C;
  font-weight: bold;
}

thead{
  background-color: #352C83;
  border-color: #07074C;;
  color: white;
  letter-spacing: 0.05em;
}


.topnav a {
  display: block;
  color: #f2f2f2;
  float: left;
  font-size: 1.2em;
  margin-left: 0.7em;
  margin-top: 0.7em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 2.15em;
  padding-right: 2.15em;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: #22293D;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: block;
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
}

@media screen and (max-width: 840px) {
  .farm-cantral {
    width: 100%;
  }
}
    
@media screen and (max-width: 600px) {
  .first,
  .second,
  .third {
    height: 5em;
    width: 70%;
  }
  .ppro{
    padding-top: 1.7em;
  }
  .farm-cantral {
    width: 100%;
  }
}